[Unit]
Description=Chesseract WebSocket Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/the-chesseract/server
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=chesseract-websocket
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
